<!DOCTYPE html>
<html>
  <head>
    <title>Endeavornote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|PT+Sans|Playfair+Display:700|Roboto+Condensed&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.endeavornoteIcon = "<%= image_url('Evernote_Icon.png') %>"
      window.backgroundPattern = "<%= image_url('background-pattern.png') %>"
      window.splashHeroDesktop = "<%= image_url('splash-hero-desktop.png') %>"
      window.facebookIcon = "<%= image_url('facebook.svg') %>"
      window.instagramIcon = "<%= image_url('instagram.svg') %>"
      window.linkedinIcon = "<%= image_url('linkedin.svg') %>"
      window.githubIcon = "<%= image_url('github.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
