<!DOCTYPE html>
<html>
  <head>
    <title>Endeavornote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.endeavornoteIcon = "<%= image_url('Evernote_Icon.png') %>"
      window.backgroundPattern = "<%= image_url('background-pattern.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
